---
layout: bootcamp
root: .
venue: AAAS
organized: AAAS Fellows Program
address: Abelson/Haskins room on the second floor
country: United-States
humandate: March 30
humantime: 8:30 am - 5:00 pm
startdate: 2015-03-30
enddate: 
latlng: 
registration: closed
instructor: ["Ben Marwick", "Tracy Teal"]
assistant: []
contact: tkteal@datacarpentry.org
raw: raw.github.com/datacarpentry/2015-03-30-AAAS/gh-pages
eventbrite: 
---
<!--
    Edit the values in the parameter block above to be appropriate for your bootcamp.
    Please use three-letter month names for the 'humandate' field.
-->

<!--
    This block includes the Eventbrite registration widget if 'eventbrite' has been set in the header.
-->


<h2>General Information</h2>
<p>
</p>

<p>
<a href=http://datacarpentry.org/>Data Carpentry</a> is an organization with the goal of teaching basic concepts, skills and tools for working more effectively with data. The rapid generation of large amounts of data is fundamentally changing how research is done. This deluge of data presents great opportunities, but also many challenges in managing, analyzing and sharing data. Data Carpentry teaches the skills that will enable researchers to be more effective and productive, to learners with little to no prior computational experience. 

In particular, as large corpora of text are becoming digitized and broadly available, it is now possible to take a quantitative approach to analyzing text to address questions in public policy, develop guidelines for implementation or assess the effectiveness of policy. As many of the types of data collected for this type of assessment are text-based, in the form of free text responses in surveys, written reports, newspaper articles or a variety of other sources, the ability to conduct text mining and analysis effectively and reproducibly will have an impact on the ability to understand and contribute knowledge to policy making. 
<p>
Data Carpentry workshops are for any researcher who have data they want to analyze, and no prior computational experience is required. This hands-on workshop teaches basic concepts, skills and tools for working more effectively with data. We will cover an introduction to R, how to use the tm package to convert text into numbers, and how to analyze and visualize the data in R. By the end of the workshop learners should be able to more effectively manage and analyze data and be able to apply the tools and approaches directly to their ongoing research. 
<p>
<b>Participants should bring their laptops and plan to participate actively. Before the workshop 
you will need to install R and RStudio. Please see the <a href=https://github.com/datacarpentry/2015-03-30-AAAS/wiki>installation instructions</a> for more details.</b>

<p>
Data Carpentry's aim is to teach researchers basic concepts, skills,
and tools for working with data so that they can get more done in less
time, and with less pain.
</p>


<!--
    Edit this block to show the syllabus and schedule for your bootcamp.
-->

<h2><a href=https://github.com/datacarpentry/textmining-socialsci>Schedule</a></h2>

<table class="table table-striped">
  <tr> <td>Monday</td>  <td>09:00</td>  <td>Setup, introduction and motivation</td> </tr>
  <tr> <td></td>        <td>09:30</td>  <td>Data input</td> </tr>
  <tr> <td></td>        <td>10:30</td>  <td>Break</td> </tr>
  <tr> <td></td>        <td>11:00</td>  <td>Getting the tm package</td> </tr>
  <tr> <td></td>        <td>11:30</td>  <td>Preparing the Document Term Matrix </td> </tr>
  <tr> <td></td>        <td>12:00</td>  <td>Lunch</td> </tr>
  <tr> <td></td>        <td>13:00</td>  <td>Analysing the Document Term Matrix</td> </tr>
  <tr> <td></td>        <td>14:30</td>  <td>Break</td> </tr>
  <tr> <td></td>        <td>15:00</td>  <td>Visualising the Document Term Matrix</td> </tr> 
  <tr> <td></td>        <td>16:00</td>  <td>Wrap-up</td> </tr>  
 
</table>

<hr/>

<p>Before the workshop

<p>Updates will be posted to this website as they become available.</p>

<p>The data file for the workshop are available at <a href = "https://raw.githubusercontent.com/datacarpentry/datacarpentry/master/lessons/social_sciences_tm/survey_data.csv">the following link</a> (right-click and 'save as' to download to your computer)</p>

<p>The etherpad for this workshop can be found <a href = "https://datacarpentry.etherpad.mozilla.org/53">here</a></p>


<!-- This block displays the instructors' names if they are available. -->
{% if page.instructor %}
<p>
  <strong>Instructors:</strong>
  {{page.instructor | join: ', ' %}}
</p>

{% endif %}

<!--
    Modify this block to reflect the target audience for your bootcamp.
    In particular, if it is only open to people from a particular institution,
    or if specialized prerequisite knowledge is required, please mention that.
-->
<p>
  <strong>Who:</strong>
  The course is aimed at faculty, research staff, postdocs, graduate students, advanced undergraduates, and other researchers in any field. No prior computational experience is required. 
</p>

<!--
    This block displays the address and links to a map showing directions.
-->
{% if page.latlng %}
<p>
  <strong>Where:</strong>
  {{ page.address }}.
  Get directions with
  <a href="http://www.openstreetmap.org/?mlat={{ page.latlng | replace:',','&mlon=' }}&zoom=16">OpenStreetMap</a>
  or
  <a href="http://maps.google.com/maps?q={{ page.latlng }}">Google Maps</a>.  Within Mann Library, B30A Classroom is in the basement as you exit the elevators.  See <a href="http://smartmap.mannlib.cornell.edu/location/b30a" target="_blank"> the floor plan </a>. 
</p>
{% endif %}

<!--
    Modify the block below if there are any special requirements.
-->
<p>

<p>
  <strong>Requirements:</strong>
Data Carpentry's teaching is hands-on, so participants are encouraged to bring in and use their own laptops to insure the proper setup of tools for an efficient workflow once you leave the workshop.  (We will provide instructions on setting up the required software several days in advance, and the classroom will have computers with the software installed). <em> There are no pre-requisites, and we will assume no prior knowledge about the tools.</em> Participants are required to abide by Software Carpentry's
<a href="http://software-carpentry.org/conduct.html">Code of Conduct</a>.
</p>

<!--
    This block automatically inserts a contact email address if one has been specified for the page.
    If one hasn't, this block inserts the generic contact address for Software Carpentry.
-->
<p>
  <strong>Contact</strong>:
  Please email
  {% if page.contact %}
    <a href='mailto:{{page.contact}}'>{{page.contact}}</a>
  {% else %}
    <a href='mailto:{{site.contact}}'>{{site.contact}}</a>
  {% endif %}
  for questions and information not covered here.
</p>

<p><strong>Twitter</strong>: <a href=https://twitter.com/hashtag/datacarpentry/>#datacarpentry</a> <a href=https://twitter.com/datacarpentry>@datacarpentry</a>


<h2>Acknowledgements &amp; Support</h2>
<!--
<div class="pull-right" style="max-width: 320px; padding-left: 6px;">
</div>
-->
<p>
Data Carpentry is supported by the <a href=http://http://www.moore.org/>Gordon and Betty Moore Foundation</a> and a partnership of several NSF-funded <a href="http://www.nsf.gov/dir/index.jsp?org=BIO" target="_blank">BIO</a> Centers (<a href="http://nescent.org" target="_blank">NESCent</a>, <a href="http://iplantcollaborative.org" target="_blank">iPlant</a>, <a href="http://idigbio.org" target="_blank">iDigBio</a>, <a href="http://beacon-center.org/" target="_blank">BEACON</a> and <a href="http://sesync.org" target="_blank">SESYNC</a>) and <a href="http://software-carpentry.org" target="_blank">Software Carpentry</a>, and is sponsored by the <a href="http://dataone.org" target="_blank">Data Observation Network for Earth</a> (DataONE). The structure and objectives of the curriculum as well as the teaching style are informed by <a href="http://software-carpentry.org" target="_blank">Software Carpentry</a>.
</p>

{% if page.eventbrite %}
<h2>Registration</h2>
<p>
 Registration is through EventBrite, see below.</p> 
<iframe src="http://www.eventbrite.com/tickets-external?eid={{page.eventbrite}}&ref=etckt" frameborder="0" width="100%" height="210" scrolling="auto"></iframe>
{% endif %}




<!--
    Edit the setup instructions in _includes/setup.html to reflect your bootcamp.
    (In particular, most bootcamps teach either Python or R, not both.)

<h2>Additional Resources</h2>

<h3>shell</h3>
<ul>
<li><a href=http://fosswire.com/post/2007/08/unixlinux-command-cheat-sheet/>Unix/Linux Command Reference</a>
<li><a href=https://github.com/swcarpentry/boot-camps/blob/master/shell/shell_cheatsheet.md
>Shell cheat sheet</a>
<li><a href=http://software-carpentry.org/v4/shell/index.html>Software Carpentry shell lessons</a>
</ul>
-->

<h2>Additional Resources</h2>

<h3>R</h3>

<b>Where to learn more about R</b>
<ul>
<li><a href=http://www.statmethods.net/>http://www.statmethods.net/</a> - good for data organization, basics stats and graphs
<li><a href=http://www.gardenersown.co.uk/Education/Lectures/R/anova.htm>http://www.gardenersown.co.uk/Education/Lectures/R/anova.htm</a> - basic parametric and non-parametric stats
<li><a href=http://www.cyclismo.org/tutorial/R/index.html>http://www.cyclismo.org/tutorial/R/index.html</a> - R tutorial
<li><a href=http://www.amazon.com/R-Action-Robert-Kabacoff/dp/1935182390>R in Action</a> - good book as an R reference
<li><a href=http://www.twotorials.com/>http://www.twotorials.com/</a>
<li><a href=http://www.r-bloggers.com/>http://www.r-bloggers.com/</a>
<li><a href=http://tryr.codeschool.com/>http://tryr.codeschool.com/</a>
<li><a href=http://adv-r.had.co.nz/>Advanced R Programming by Hadley Wickham</a>
<li><a href=http://www.computerworld.com/s/article/9239625/Beginner_s_guide_to_R_Introduction>Beginner's Guide to R from Computer World</a>
<li><a href=http://www.scoop.it/t/r-for-journalists>R for Journalists</a>
<li><a href=http://www.r-bloggers.com/>R Bloggers</a>
<li><a href=http://www.inside-r.org/>inside-R</a> 
<li><a href=http://ropensci.org/>rOpenSci</a>
</ul>

<p>
<b>Working with text in R</b>
<ul>
<li><a href=http://cran.r-project.org/web/packages/tm/vignettes/tm.pdf>http://cran.r-project.org/web/packages/tm/vignettes/tm.pdf</a> - Introduction to the tm Package
Text Mining in R
<li><a href=http://www.jstatsoft.org/v25/i05/>http://www.jstatsoft.org/v25/i05/</a> - Text Mining Infrastructure in R (Journal of Statistical Software)
<li><a href=http://cran.r-project.org/web/views/NaturalLanguageProcessing.html>http://cran.r-project.org/web/views/NaturalLanguageProcessing.html</a> - CRAN Task View: Natural Language Processing
<li><a href=http://handsondatascience.com/TextMiningO.pdf>http://handsondatascience.com/TextMiningO.pdf</a> - Hands-On Data Science with R:
Text Mining
<li><a href=https://en.wikibooks.org/wiki/R_Programming/Text_Processing>https://en.wikibooks.org/wiki/R_Programming/Text_Processing</a> - R Programming/Text Processing
<li><a href=http://www.matthewjockers.net/text-analysis-with-r-for-students-of-literature/>http://www.matthewjockers.net/text-analysis-with-r-for-students-of-literature/</a> - Matthew L. Jockers' Text Analysis with R for Students of Literature
<li><a href=https://heuristically.wordpress.com/2011/04/08/text-data-mining-twitter-r/>https://heuristically.wordpress.com/2011/04/08/text-data-mining-twitter-r/</a> - Text Data Mining with Twitter and R

</ul>


<p>
<b>Plotting in R</b>
<ul>
<li><a href=http://www.harding.edu/fmccown/r/>http://www.harding.edu/fmccown/r/</a> - Very simple graphs
<li><a href=https://storify.com/tracykteal/r-galleries>A variety of R gallery recommendations</a>
<li><a href=http://docs.ggplot2.org/>ggplot gallery</a> - extensive and comprehensive; a great resource
<li><a href=http://www.amazon.com/R-Graphics-Cookbook-Winston-Chang-ebook/dp/B00AJ5X7W4/>R Graphics Cookbook</a> - highly recommended
<li><a href=http://www.cookbook-r.com/Graphs/>Some of R Graphics Cookbook plots</a> - a set of some of the plots from the R Graphics Cookbook by Winston Chang
<li><a href=http://rgm3.lab.nig.ac.jp/RGM/R_image_list?page=665&init=true>R Graphical Manual</a> - plots from apparently every R CRAN package
</ul>

<p>
<b>Getting help when working with R</b>
<ul>
<li> <code>?</code> function, eg. <code>?mean</code> to get built-in help on the mean function
<li> <code>sos::findFn("rose diagram")</code> searches all installed packages for the search term, using the sos package
<li> Most major packages come with vignettes that narrate typical uses of the package's core functions. Vignettes can be accessed with the command <code>vignette(packagename)</code>.
<li> Google searches in the form: <a href=https://www.google.com/search?q=r+help>r help [your search terms or error message]</a>
<li> A custom search engine of R resources: <a href=http://www.rseek.org/>http://www.rseek.org/</a>
<li> Graphical output from the examples in the documentation for all CRAN packages: <a href=http://rgm3.lab.nig.ac.jp/RGM>http://rgm3.lab.nig.ac.jp/RGM</a>
<li> All R package documentation (including CRAN, GitHub and Bioconductor packages) is online in an easy-to-ready format at <a href=http://www.rdocumentation.org/>http://www.rdocumentation.org/</a>
<li> Stackoverflow is an online Q&A point-scoring website where questions and answers can be voted on to indicate their quality: <a href=http://stackoverflow.com/questions/tagged/r>http://stackoverflow.com/questions/tagged/r</a>. Many highly skilled R programmers are active participants. 
<li>You could send a message to the <a href=https://stat.ethz.ch/mailman/listinfo/r-help>official r-help email list</a>, but do be sure to read, follow and cite the <a href=http://www.r-project.org/posting-guide.html>posting guide</a>. The list is also <a href=https://www.google.com/?gws_rd=ssl#q=site:stat.ethz.ch+pipermail+archaeology>searchable</a>.
</ul>

<!--
<h2>Setup</h2>

<p>
  To participate in a Data Carpentry workshop, 
  you will need working copies of the software described below.
  Please make sure to install everything
  (or at least to download the installers)
  <em>before</em> the start of your bootcamp. 
  
Participants should bring and use their own laptops to insure the proper setup of tools for an efficient workflow once you leave the workshop.
  
  
</p>

{% include setup.html %}
-->


